name: PR Docker Build and Run Test
run-name: ${{ github.actor }} is testing the building and run of Dockerfile on PR ${{ github.event.number }}
on: [pull_request]

jobs:

  CI:
    runs-on: ubuntu-latest
    needs: formatting-check
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Hydrus AMD64 Docker with cache
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/amd64/cpu/hydrus.Dockerfile
          tags: hydrus:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      - name: Run Tests using Hocker
        run: |
          cd docker/hydrus-docker
          chmod +x hocker
          ./hocker --test
